// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #4C4C4C;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: #242424;
	border: 10px solid #3A3A3A;
	
	&:before{
		content: "";
		position: absolute;
		background: transparent;
		border-radius: 100%;
		width: 85%;
		height: 85%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 5px dotted white;
	}
}

.svg{
	transform: rotate(270deg);
}

.svg circle{
	stroke: #F85B5B;
	stroke-width: 3;
	fill: none;
	stroke-dasharray: 625;
	animation: spin 4s infinite linear;
}

.content{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	color: white;
	display: flex;
	flex-direction: column;
  align-items: center;
	width:150px;
	
	& span:nth-child(1){
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 500;
	}
	& span:nth-child(2){
		font-size: 43px;
		font-weight: 600;
	}
}

.heart-beat{
	display: flex;
	gap: 7px;
	font-size: 14px;
	justify-content:center;
	text-transform: uppercase;
	
		& span:nth-child(1){
		color: #F85B5B;
		margin-top: 3px;
		font-size: 10px;
		animation: beat 1s cubic-bezier(0, 1.32, 0.878, 1.403)
 infinite;
	}
}

@keyframes spin{
  0% {  stroke-dashoffset: 625; }
  50% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: -625; }

}

@keyframes beat{
	0%{
		transform: scale(1)
	}
	100%{
		transform: scale(1.2);
	}
}
