// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
background: radial-gradient(circle, rgba(246,232,215,1) 0%, rgba(218,183,141,1) 100%);


  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bottom{
	position:absolute;
	left:0;
	bottom: 0;
	width: 400px;
	height: 155px;
	background: #232323;
}


.leg {
	position: absolute;
	top: 0px;
	left: 147px;
	width: 151px;
	height: 245px;
	transform-origin: 50% 0;
}

.shoe {
	position: absolute;
	width: 151px;
	height: 128px;
	left: 0;
	bottom: 0;
	background: url('https://100dayscss.com/codepen/doc-martens.svg') center center no-repeat;
	transform-origin: 0 100%;
}
.left {
	animation: leg-swing 2s ease-in-out infinite;
	
	.shoe {
		animation: shoe-turn 2s ease-in-out infinite;
	}
}
.right {
	animation: leg-swing 2s ease-in-out 1s infinite;
	
	.shoe {
		animation: shoe-turn 2s ease-in-out 1s infinite;
	}
}

@keyframes leg-swing {
	0%, 100% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(50deg);
	}
}
@keyframes shoe-turn {
	0%, 100% {
		transform: rotate(-10deg);
	}
	25% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(10deg);
	}
	75% {
		transform: rotate(0deg) translateY(-30px) translateX(0);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
