// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: hsla(198, 36%, 44%, 1);
	background: linear-gradient(45deg, hsla(198, 36%, 44%, 1) 0%, hsla(110, 30%, 48%, 1) 100%);
	background: -moz-linear-gradient(45deg, hsla(198, 36%, 44%, 1) 0%, hsla(110, 30%, 48%, 1) 100%);
	background: -webkit-linear-gradient(45deg, hsla(198, 36%, 44%, 1) 0%, hsla(110, 30%, 48%, 1) 100%);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.container{
	position: relative;
	height: 240px;
	width: 280px;
	background: white;
	border-radius: 5px;
	box-shadow: 4px 5px 15px 5px rgba(0,0,0,0.4)
}

.header{
	box-sizing: border-box;
	position:relative;
	width: 100%;
	height: 20%;
	color: #676767;
	font-size: 16px;
	display: block;
	
	&:before{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 100%;
		background: #D8D8D8;
	}
	
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 100%;
		background: #6ECE3B;
		transition: all 1s ease-out;
		transform: scaleX(0);
		transform-origin: 0 0;
	}
	
	&.active{
		&:after{
			transform: scaleX(1) translate3d(0,0,0);
		}
	}
}

input[type="file" i]{
	display: none;
}

.file-upload-icon{
	border: 1px dashed #A4A4A4;
	width: 100px;
	height: 80px;
	
	&.is-dragover {
		border-color: #666;
		background: #eee;
	}
	
	& .load{
		transform: translate(-50%,-50%) rotate(0deg);
		opacity: 0;
		
		&.active{
			animation: load 1s linear forwards;
		}
	}
	
	& .tick{
		opacity: 0;
		
		&.active{
			animation: tick 1s linear forwards;
		}
	}
}

#file-selected{
	display: block;
  color: #676767;
  font-size: 14px;
	line-height: 18px;
	text-align: center;
}

.bttn{
	position: absolute;
	background: #6ECE3B;
	height: 40px;
	width: 140px;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);
	border: none;
	border-radius: 3px;
	box-shadow: 0 2px 0 0 #498C25;
	cursor:pointer;
	color: white;
	
	&:hover{
		&:before{
			position:absolute;
			content: "";
			top: 0;
			left: 0;
			height: 40px;
			width: 140px;
			border-radius:3px;
			box-shadow: 0px 0px 10px 0px #6ECE3B;
		}
	}
}

@keyframes load{
	10%, 90%{
		opacity: 1;
	}
	100%{
		transform: translate(-50%,-50%) rotate(360deg);
		opacity: 0;
	}
}

@keyframes tick{
	90%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes bar{
	100%{
		background: linear-gradient()
	}
}
