// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.bkg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	transform: translateX(0px);
	transition: all 0.5s ease-in-out;
	
	&.blue{
		left: 400px;
		background: #3498db;
	}
		&.purple{
		background: #9b59b6;
	}
		&.green{
		left: 800px;
		background: #1abc9c;
	}
}

.frame input[type="radio"]{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		appearance: none;
		width: 48px;
		height: 48px;
		border: 3px solid;
		border-radius: 100%;
		color: white;
		z-index: 2;
		
		&#purple{
			left: 30%;
			
			&:checked ~ .bkg{
				transform: translateX(0px);
		}
		}
		
		&#green{
			left: 70%;
			
			&:checked ~ .ball{
				left: 64%;
			}
			&:checked ~ .bkg{
				transform: translateX(-800px);
			}
		}
	
		&#blue:checked ~ .ball{
			left: 44%;
		}
		&:checked ~ .bkg{
				transform: translateX(-400px);
		}
	}


.ball{
	position: absolute;
	top: 44%;
	left: 24%;
	height: 34px;
	width: 34px;
	background: white;
	border-radius: 100%;
	transform: translateY(7px) translateX(7px);
	transition: all 0.5s ease-in-out;
}
